.abc{
    background-color: red;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.xyz{
    background-color: blue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1{
    background-color: ;
}