h1,h2,p,h3,span{
    background-color: red;
    font-size: larger;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

abc{
    background-color: yellow;
}

.xyz{}

.airtel12 {

}